.products__details__container{
    margin : 2rem 3rem 0 3rem;
}

.products__details__content{
    display: flex;
    gap: 3rem
}

.product__details__image__container{
    
}

/* .product__image__one{
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
    border: 1px solid red;
    padding: .5rem;
}

.product__image__two{
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
    border: 1px solid red;
    margin-top: 1rem;
    padding: .5rem;
}

.product__image__three{
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
    border: 1px solid red;
    margin-top: 1rem;
    padding: .5rem;
}

.product__image__four{
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
    border: 1px solid red;
    margin-top: 1rem;
    padding: .5rem;
} */

.product__details__images{
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
    border: 1px solid red;
    margin-top: 1rem;
    padding: .5rem;
}

.border__color{
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
    /* border: 1px solid red; */
    margin-top: 1rem;
    padding: .5rem;
    border: 1px solid red;
}


.image__screen__container{
    background-color: rgb(238, 238, 241);
    padding: 5rem 7rem;
    margin-left: 3rem;
}

.image__screen{
    width: 300px; 
}

.product__screen{
    width: 300px;
}