
.body__content{
    display: flex;
    justify-content: space-between;
    height: 440px;
    border-radius: 7px;
    padding-left: 3rem;
    margin: 4rem 3rem 0 3rem;
}

.body__content > .content__one{
    margin: 7rem 0 0 0;
}

.content__one h2{
    max-width: 400px;
    font-size: 45px;
    line-height: 60px;
    font-weight: 900;
}

.content__one p {
    max-width: 350px;
    line-height: 25px;
    margin-top: 0.5rem;
    font-size: 17px;
}

.shop__now{
    margin-top: 2rem;
    padding: 1.3rem 3rem;
    background-color: transparent;
    border: 2px solid #000;
    font-size: 15px;
}

.content__two {
    margin: 2rem 3rem 0 0;
}

.gadget__image{
    width: 600px;
}

/* SECOND PAGE */

.featured__products{
    text-align: center;
    margin-top: 10rem;
    font-size: 21px;
}

.items__card__container{
    margin: 4rem 2rem 0 8rem;
    display: flex;
    flex-wrap: wrap;
}

.items__card__content{
    width: 280px;
    height: 330px;
    text-decoration: none;
    margin: 1rem;
}

.items__card__content:hover{
    border: 1px solid rgb(185, 179, 179);
}

.items__image{
    width: 280px;
    height: 230px;
    background-color: rgb(238, 238, 241);
    padding-top: 1rem;
}

.items__text{
    list-style: none;
    color: #000;
    font-size: 13px;
    padding-top: 2rem;
}

