.shimmer__container{
  margin: 5rem 2rem 0 3.4rem;
  display: flex;
  flex-wrap: wrap;
  }
  
  .shimmer__card__content{
    margin: 20px;
    width: 320px;
    height: 300px;
  }

  .shimmer__background{
    background-color: rgb(240, 237, 237);
    margin: 20px;
    width: 320px;
    height: 300px;
  }